.search-bar {
    width: auto;
    display: flex;
    justify-content: center;

    position: fixed;
 
}
.container-search {
    left: 80px;
    display: flex;
    width: 100%;
    position: fixed;
}
.search-icon {
    display: flex;
    justify-content: center;
    position: fixed;

}